.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  width: 25px;
  height: 25px;
  background-color: red;
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
}

.node-start {
  width: 25px;
  height: 25px;
  background-color: green;
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
}

.node-visited {
  width: 25px;
  height: 25px;
  background-color: blue;
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
}

.node-wall {
  width: 25px;
  height: 25px;
  background-color: rgb(12, 53, 71);
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
}

.node-target {
  width: 25px;
  height: 25px;
  background-color: yellow;
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
}
